@font-face {
    font-family: 'Nexen_B';
    src: url('Nexen_B.eot');
    src: url('Nexen_B.eot?#iefix') format('embedded-opentype'),
        url('Nexen_B.woff') format('woff'),
        url('Nexen_B.ttf') format('truetype'),
        url('Nexen_B.svg#Nexen_B') format('svg');
    font-weight: normal;
    font-style: normal;
}

