@font-face {
    font-family: 'Nexen';
	font-weight: 300;
    src: url('//cdn.jsdelivr.net/gh/golrazo/font-urm@1.0/Nexen_R.eot');
    src: url('//cdn.jsdelivr.net/gh/golrazo/font-urm@1.0/Nexen_R.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/gh/golrazo/font-urm@1.0/Nexen_R.woff') format('woff'),
        url('//cdn.jsdelivr.net/gh/golrazo/font-urm@1.0/Nexen_R.ttf') format('truetype'),
        url('//cdn.jsdelivr.net/gh/golrazo/font-urm@1.0/Nexen_R.svg#Nexen_R') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexen';
	font-weight: 700;
    src: url('//cdn.jsdelivr.net/gh/golrazo/font-urm@1.03/Nexen_B.eot');
    src: url('//cdn.jsdelivr.net/gh/golrazo/font-urm@1.03/Nexen_B.eot?#iefix') format('embedded-opentype'),
        url('//cdn.jsdelivr.net/gh/golrazo/font-urm@1.03/Nexen_B.woff') format('woff'),
        url('//cdn.jsdelivr.net/gh/golrazo/font-urm@1.03/Nexen_B.ttf') format('truetype'),
        url('//cdn.jsdelivr.net/gh/golrazo/font-urm@1.03/Nexen_B.svg#Nexen_B') format('svg');
    font-weight: normal;
    font-style: normal;
}

